article.album, article.movie, article.game, article.book {
  h2, h3 {
    margin: 0px; 
  } /* h2, h3 */
    
  .release-date {
     font-size: 50%;
     font-weight: normal; 
   } /* .release-date */
      
} /* article.album */
  